<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Potentiostat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Potentiostat.Properties.Settings>
            <setting name="COM" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\Potentiostat</value>
            </setting>
            <setting name="VoltageCalim" serializeAs="String">
                <value>0.996063</value>
            </setting>
            <setting name="VoltageCalib" serializeAs="String">
                <value>-0.011062508</value>
            </setting>
            <setting name="AverageWindow" serializeAs="String">
                <value>200</value>
            </setting>
        </Potentiostat.Properties.Settings>
    </userSettings>
</configuration>